//
// Color variables (a very black and white color palette, thats what I like :) )
//

$color-black: #111;
$color-gray: #616161;
$color-gray-light: #9e9e9e;
$color-gray-lighter: #f4f5f7;
$color-gray-lighter-accent: #ebecf0;
$color-white: #fff;
$color-green: #0275d8;
$color-red: #fc504c;

$color-blog-heading: #3c3c47;
$color-blog-secondary: #74748b;
$color-blog-content: #5f5f61;
