.login-wrapper {
  width: 100%;
  height: 100%;
  background-color: $color-white !important;

  .content {
    max-width: 600px;
    margin: 64px auto;
    padding: 20px;
    text-align: center;

    .form {
      padding: 30px 20px;
      text-align: left;
      border-top: solid 1px #959b9f;
      border-bottom: solid 1px #959b9f;

      .error-text {
        color: red;
        font-size: 12px;
        text-align: center;
      }

      .inputs {
        max-width: 250px;
        margin: 20px auto;
        text-align: left;
      }

      .buttons {
        max-width: 250px;
        margin: 20px auto;
        text-align: right;
      }

      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
  }
}