.modal-top {
  width: 55%;
  height: auto;

  background: white;
  visibility: visible;
  position: fixed;

  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  left: 50%;
  top: 10%;
  transform: translate(-50%, +0%);  
  z-index: 1000005;

  .modal-content {
    padding: 20px;

    .modal-header {
      padding: 10px 0;
      border-bottom: 1px solid $color-gray-light;

      h2 {
        font-size: 1.6rem;
        color: $color-black;
      }
    }

    .modal-body {
      padding: 10px 0;
      // border-bottom: 1px solid $color-gray-light;
    }

    .modal-footer {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-end;
      padding: 5px 0;
    }
  }
}

.ReactModal__Body--open .site-layout  {
  overflow: hidden;
}
