* {
  font-family: lato;
}

p {
  font-weight: 500;
  font-size: 1.4rem;
  margin: 0;
  color: $color-gray;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 0.4rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.4rem;
  color: $color-black;
}

h2 {
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 0.4rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.4rem;
  color: $color-black;
}